<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Investments</title>
    <link rel ="stylesheet" href ="{{ url_for('static', filename ='styles.css') }}">
</head>
<body>
     <h1 style="color: rebeccapurple;">Welcome to the first step into your wealth!</h1>

     <div>
         <p>Some text...</p>
     </div>
     <button>Click here to Login</button>

     <ul>
         <li>What does this site include?...</li>
     </ul>

     <footer>
         <p>sponsored by trade station</p>
     </footer>

</body>
</html>
